<section class="landing-section" fxFlex="auto" fxLayoutAlign="center center">
  <mat-card class="landing-card" fxFlex="auto">
    <mat-card-content>
      <img mat-card-image src="../../assets/images/ptguy.png" alt="Photo of a soccer player">
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="space-evenly center">
      <button class="landing-button" routerLink="/login" mat-fab color="primary">Login</button>
      <button class="landing-button" routerLink="/register" mat-fab color="primary">Register</button>
    </mat-card-actions>
  </mat-card>
</section>
