<section>
    <form 
    fxLayout="column" 
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    [formGroup]="homeForm"
    (ngSubmit)="onSaveToLocalStorage()"
    >
      <mat-form-field>
        <input 
        type="number" 
        matInput 
        formControlName="input1">
      </mat-form-field>
      <mat-form-field>
        <input 
        type="number" 
        matInput 
        formControlName="input2">
      </mat-form-field>
      <button type="submit" mat-fab color="primary">Save</button>
    </form>
  </section>
