<!-- <section>
    <form 
    fxLayout="column" 
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    [formGroup]="homeForm"
    (ngSubmit)="onSaveToLocalStorage()"
    >
      <mat-form-field>
        <input 
        type="number" 
        matInput 
        formControlName="input1">
      </mat-form-field>
      <mat-form-field>
        <input 
        type="number" 
        matInput 
        formControlName="input2">
      </mat-form-field>
      <button type="submit" mat-fab color="primary">Save</button>
    </form>
  </section> -->
<section>
  <mat-tab-group>
    <mat-tab label="Players">
      <app-players-tab></app-players-tab>
    </mat-tab>
    <mat-tab label="Teams">
      <app-teams-tab></app-teams-tab>
    </mat-tab>
  </mat-tab-group>
</section>


